<!doctype html>
<html>
<head>
    <title>Translation App</title>
     <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="login">
<div class="container">

    <div class="jumbotron text-center">
        <h3 class="color">Welcome to Parent-Family Communications!/ Bienvenidos a 
            comunicaciones!</h3>
        <img src="img/phone.jpg" alt="translation">

        <p>Login or Signup / Registrate o Accessa: </p>
        
        <a href="/login_parent" class="btn btn-default"><span class="fa fa-user"></span>Parent Login/ Familias Accessar</a>
        <a href="/login_teacher" class="btn btn-default"><span class="fa fa-user"></span>Teacher Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup/ Registrate </a>
       
    </div>

</div>
</body>
</html>
