<!doctype html>
<html>
<head>
    <title>Translation</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<img class="teacher" src="img/teacher-student.png" alt="teacher and student">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Sign Up/Registrate</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Name/Nombre</label>
            <input type="text" class="form-control nameDisplay" name="name">
        </div>
        <div>
            <label for="role"> I am a :</label>
            <select name="role"> 
                <option value="parent"> Parent/Padre</option>
                <option value="teacher"> Teacher/ Maestra </option>
            </select>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p class="signup">Already have an account? <a href="/login">Login</a></p>
    <p><a href="/">Home</a>.</p>

</div>
<img class="apple" src="img/apple.jpg" alt="teacher and student">
</div>
</body>
<script src="main.js"></script>
</html>
