<!doctype html>
<html>
<head>
    <title>Translation App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Welcome to Parent-Family Communications!</h1>
        <img src="img/translation.gif" alt="translation">

        <p>Login or Signup / Registrate o Accessa: </p>
        <form> 
        <input type="radio" name="role" value="teacher">Teacher/ Maestra<br>
        <input type="radio" name="role" value="parent"> Parent/Guardian * Padre/Guardián<br>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login/ Accessar</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup/ Registrate </a>
        </form>
    </div>

</div>
</body>
</html>
